Workflow 2.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -3712,
        -672
      ],
      "id": "d92be4c8-4740-4fc2-8b1d-504adc937068",
      "name": "Telegram Trigger1",
      "webhookId": "35c781c1-058e-43c1-9580-5f30c160eb39",
      "credentials": {
        "telegramApi": {
          "id": "f86NzQ0goQ7JGyfD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil data callback dari Telegram\nconst callbackData = $json.callback_query.data;\n\n// Pisahkan \"approve\" / \"reject\" / \"edit\" dengan ID-nya\n// Contoh: \"approve_123\" -> action = \"approve\", draft_id = \"123\"\nconst separatorIndex = callbackData.indexOf('_');\nconst action = callbackData.substring(0, separatorIndex);\nconst draftId = callbackData.substring(separatorIndex + 1);\n\n// Kirim ke node berikutnya dalam format JSON yang rapi\nreturn [{\n  json: {\n    action: action,                // \"approve\", \"reject\", atau \"edit\"\n    draft_id: draftId,             // ID dari tabel drafts di Supabase\n    chat_id: $json.callback_query.message.chat.id,   // ID chat buat edit pesan nanti\n    message_id: $json.callback_query.message.message_id // ID pesan asli buat di-edit\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3216,
        -768
      ],
      "id": "7b2ad357-0f2a-432d-9e79-f6bf81120729",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "drafts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.draft_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "Rejected"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2128,
        -912
      ],
      "id": "cc49a588-76f2-4cd7-9451-199a3a21a13d",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Code in JavaScript6').item.json.chat_id }}",
        "messageId": "={{ $('Code in JavaScript6').item.json.message_id }}",
        "text": "❌Ditolak. Draft ini tidak jadi dipublish. Data di Database Dihapus.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1920,
        -912
      ],
      "id": "5b2cbd8d-46a1-4c39-8b3f-21060914c8d0",
      "name": "Edit a text message",
      "webhookId": "dd7dc098-738a-4567-9e9a-18fd29bb5206",
      "credentials": {
        "telegramApi": {
          "id": "f86NzQ0goQ7JGyfD",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "drafts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Code in JavaScript6').item.json.draft_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "awaiting_edit"
            },
            {
              "fieldId": "telegram_message_id",
              "fieldValue": "={{ $('Code in JavaScript6').item.json.message_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2128,
        -1104
      ],
      "id": "82f9be6c-8087-4da3-b979-e8343cf95925",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Code in JavaScript6').item.json.chat_id }}",
        "text": "Mau revisi threads dengan cara apa?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✍️ Manual",
                    "additionalFields": {
                      "callback_data": "=editmanual_{{ $('Code in JavaScript6').item.json.draft_id }}"
                    }
                  },
                  {
                    "text": "🤖 AI Revisi",
                    "additionalFields": {
                      "callback_data": "=editai_{{ $('Code in JavaScript6').item.json.draft_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1920,
        -1104
      ],
      "id": "9a61842d-c44a-4f54-96eb-fb8e27929b57",
      "name": "Send a text message1",
      "webhookId": "d11d6b9b-916f-4e93-bd0e-3cf1437fc337",
      "credentials": {
        "telegramApi": {
          "id": "f86NzQ0goQ7JGyfD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "drafts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Code in JavaScript6').item.json.draft_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2128,
        -1296
      ],
      "id": "e2b8b1da-d946-423a-997f-5f2e0f57424a",
      "name": "Get a row2",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zernio.com/api/v1/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"platforms\": [\n    {\n      \"platform\": \"threads\",\n      \"accountId\": \"6a4769089d9472faae61f262\",\n      \"platformSpecificData\": {\n        \"threadItems\": {{ JSON.stringify($json.threadItems) }}\n      }\n    }\n  ],\n  \"publishNow\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1504,
        -1296
      ],
      "id": "7e185a98-742c-4288-a862-3af2efee2007",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "p11KXR82intJ05i1",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "drafts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Code in JavaScript6').item.json.draft_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "Published"
            },
            {
              "fieldId": "actual_publish_time",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1296,
        -1296
      ],
      "id": "1587aebf-cede-43d7-9e9d-ba1aa3c4037b",
      "name": "Update a row2",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Code in JavaScript6').item.json.chat_id }}",
        "messageId": "={{ $('Code in JavaScript6').item.json.message_id }}",
        "replyMarkup": "{}",
        "text": "✅ BERHASIL DIPUBLISH!  Konten sudah terkirim ke Threads. ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1072,
        -1296
      ],
      "id": "48a9f9fe-4cb4-4947-b682-868ce143d337",
      "name": "Edit a text message1",
      "webhookId": "70c7d0de-3da9-47c3-85d2-80e2763623eb",
      "credentials": {
        "telegramApi": {
          "id": "f86NzQ0goQ7JGyfD",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "thread_posts",
        "returnAll": true,
        "orderBy": "post_order",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "draft_id",
              "condition": "eq",
              "keyValue": "={{ $('Code in JavaScript6').item.json.draft_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1920,
        -1296
      ],
      "id": "9ba5c7e1-0938-47f1-8ca9-7f048e047ffe",
      "name": "Get many rows3",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "0b61e4b9-2004-4c01-aa2e-54e4a9bc374f",
              "leftValue": "={{ $json.message.reply_to_message }}",
              "rightValue": "=editmanual",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3040,
        -560
      ],
      "id": "853afe22-3ed5-4e16-9718-722136b16bf1",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "drafts",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_message_id",
              "condition": "eq",
              "keyValue": "={{ $json.message.reply_to_message.message_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2128,
        -576
      ],
      "id": "8e1f0fb5-bcc1-4058-9b48-274e529330e5",
      "name": "Get many rows2",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const draft = $input.first().json;\nconst draftId = draft.id;\nconst rawText = $('Telegram Trigger1').item.json.message.text;\n\nconst blocks = rawText\n  .split(/\\n\\s*\\n/)\n  .map(t => t.trim())\n  .filter(t => t.length > 0);\n\nif (blocks.length === 0) {\n  throw new Error(\"Balasan kosong atau format salah.\");\n}\n\nconst chatId = $('Telegram Trigger1').item.json.message.chat.id;\nconst edits = [];\n\nfor (const block of blocks) {\n  const match = block.match(/^(\\d+)\\s*:\\s*([\\s\\S]+)$/);\n  if (!match) {\n    throw new Error(`Format salah pada blok: \"${block.substring(0, 50)}...\". Harus diawali \"nomor: isi\".`);\n  }\n  const postNumber = parseInt(match[1], 10);\n  const content = match[2].trim();\n  edits.push({\n    draft_id: draftId,\n    post_order: postNumber - 1,\n    content: content,\n    telegram_chat_id: chatId\n  });\n}\n\nreturn edits.map(edit => ({ json: edit }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        -672
      ],
      "id": "f8078ee9-ee30-4fab-9fca-72ed39d1b856",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "drafts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Code in JavaScript6').item.json.draft_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_message_id",
              "fieldValue": "={{ $json.result.message_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1712,
        -1104
      ],
      "id": "227c3ef2-1a11-4a91-b738-b03adf66b7b2",
      "name": "Update a row3",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "updated_rows",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1504,
        -896
      ],
      "id": "a3e4db7c-a3fb-4361-9741-988bb0347ae7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "drafts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.draft_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "pending_approval"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1280,
        -608
      ],
      "id": "00e1da20-aa4d-4d8c-b2e1-70fa25bbf6b3",
      "name": "Update a row4",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Code in JavaScript8').first().json.telegram_chat_id }}",
        "text": "={{ $('Code in JavaScript10').first().json.preview_text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "=✅ Approve",
                    "additionalFields": {
                      "callback_data": "=approve_{{ $json.id }}"
                    }
                  },
                  {
                    "text": "=✏️ Edit",
                    "additionalFields": {
                      "callback_data": "=edit_{{ $json.id }}"
                    }
                  },
                  {
                    "text": "=❌ Reject",
                    "additionalFields": {
                      "callback_data": "=reject_{{ $json.id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1072,
        -608
      ],
      "id": "bc89acfd-22b7-41ce-9e93-ac67c449cae7",
      "name": "Send a text message",
      "webhookId": "13ff2bc1-df7c-4162-a0a3-531eaea7f293",
      "credentials": {
        "telegramApi": {
          "id": "f86NzQ0goQ7JGyfD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "thread_posts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "draft_id",
              "condition": "eq",
              "keyValue": "={{ $json.draft_id }}"
            },
            {
              "keyName": "post_order",
              "condition": "eq",
              "keyValue": "={{ $json.post_order }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1504,
        -672
      ],
      "id": "8df8e95b-557a-4c80-bc7f-6c35905a0eed",
      "name": "Update a row5",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "thread_posts",
        "orderBy": "post_order",
        "filters": {
          "conditions": [
            {
              "keyName": "draft_id",
              "condition": "eq",
              "keyValue": "={{ $('Code in JavaScript8').first().json.draft_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1280,
        -896
      ],
      "id": "f49f4d1e-b9c1-4b13-9a5f-34bdc0afed1a",
      "name": "Get many rows4",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const posts = $input.all().map(item => item.json).sort((a, b) => a.post_order - b.post_order);\nconst previewText = posts.map(p => `${p.post_order + 1}. ${p.content}`).join('\\n\\n');\n\nreturn [{\n  json: {\n    preview_text: previewText,\n    draft_id: posts[0].draft_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        -896
      ],
      "id": "20fa2ace-6f35-4bf4-8b38-a3a8195d7b70",
      "name": "Code in JavaScript10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b84781e2-fe4f-442f-aed6-f7cba4f18a72",
              "leftValue": "={{ $json.callback_query }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3472,
        -672
      ],
      "id": "5a10eb72-c9ac-4cb3-8320-8e39f0e5bb3d",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "drafts",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "awaiting_edit"
            },
            {
              "keyName": "telegram_message_id",
              "condition": "eq",
              "keyValue": "={{ $('Telegram Trigger1').first().json.message.reply_to_message.message_id }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "awaiting_edit"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1248,
        -336
      ],
      "id": "3b98f867-0afb-43c9-a747-479d17e04d68",
      "name": "Get Draft Awaiting Edit",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "thread_posts",
        "returnAll": true,
        "orderBy": "post_order",
        "filters": {
          "conditions": [
            {
              "keyName": "draft_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2400,
        -128
      ],
      "id": "2dcacd9c-3559-43e9-89be-c156f0334ed1",
      "name": "Get Old Thread Posts",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const draft = $('Get Draft Awaiting Edit').item.json;\nconst oldPosts = $input.all().map(item => item.json);\nconst instruksi = $('Telegram Trigger1').item.json.message.text;\n\nconst captionLama = oldPosts\n  .sort((a, b) => a.post_order - b.post_order)\n  .map(p => p.content)\n  .join(' ');\n\nreturn [{\n  json: {\n    draft_id: draft.id,\n    pillar_name: draft.pillar_name,\n    angle: draft.angle,\n    topic: draft.topic,\n    caption_lama: captionLama,\n    instruksi_revisi: instruksi\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2448,
        144
      ],
      "id": "f507b10f-6cf9-4312-bc9b-56f98fdcf63a",
      "name": "Susun Konteks Revisi"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Kamu adalah revisi editor untuk thread post personal brand.\n\nCaption/thread asli:\n{{ $json.caption_lama }}\n\nUser meminta revisi dengan instruksi berikut:\n{{ $json.instruksi_revisi }}\n\nTulis ulang thread ini (3-5 post terpisah) sesuai instruksi revisi tersebut. \nPertahankan gaya bahasa asli, tetap sesuai pillar \"{{ $json.pillar_name }}\" dan angle \"{{ $json.angle }}\".\nSetiap post maksimal 480 karakter.\n\nKembalikan HANYA dalam format JSON: { \"posts\": [\"post 1...\", \"post 2...\", ...] }",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2288,
        144
      ],
      "id": "56619a79-e405-4b36-ae0f-49c3fbadfaf1",
      "name": "AI Agent Revisi"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -2432,
        352
      ],
      "id": "937b4d4a-31fd-4133-a872-524f29edac65",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "jhFpANlLsVErjwId",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"posts\": [\n    \"Contoh isi post pertama di sini\",\n    \"Contoh isi post kedua di sini\",\n    \"Contoh isi post ketiga di sini\"\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2240,
        368
      ],
      "id": "ef20f6cc-bf62-49d6-8d0c-83de562bd652",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -2320,
        512
      ],
      "id": "978281c9-9235-4a57-8a24-1f1a4a70cd8f",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "jhFpANlLsVErjwId",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "thread_posts",
        "filters": {
          "conditions": [
            {
              "keyName": "draft_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Draft Awaiting Edit').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2048,
        -112
      ],
      "id": "e3c5cf91-7bb7-4cfc-84fd-07ed5562e6c0",
      "name": "Delete Old Thread Posts",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const posts = $('AI Agent Revisi').first().json.output.posts;\nconst draftId = $('Get Draft Awaiting Edit').first().json.id;\n\nreturn posts.map((content, index) => ({\n  json: {\n    content: content.trim(),\n    post_order: index,\n    draft_id: draftId\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        -112
      ],
      "id": "ce96ec74-28e5-4f27-950b-c61edf858c1f",
      "name": "Split Post Revisi"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1904,
        192
      ],
      "id": "30fad98a-bd08-4897-9808-7480d3441e1e",
      "name": "Loop Insert Thread Posts"
    },
    {
      "parameters": {
        "tableId": "thread_posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "post_order",
              "fieldValue": "={{ $json.post_order }}"
            },
            {
              "fieldId": "draft_id",
              "fieldValue": "={{ $json.draft_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1712,
        304
      ],
      "id": "59022a4e-224b-4327-b320-09188b0365c8",
      "name": "Insert New Thread Post",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "drafts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get Draft Awaiting Edit').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "pending_approval"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1552,
        -96
      ],
      "id": "533ab092-65b2-464e-9325-aaea8cac168d",
      "name": "Update Draft Pending",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1712,
        176
      ],
      "id": "a5c986b7-0cc6-4e88-8b3a-db6e0c743c89",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "thread_posts",
        "orderBy": "post_order",
        "filters": {
          "conditions": [
            {
              "keyName": "draft_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Draft Awaiting Edit').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1328,
        -96
      ],
      "id": "8cda7866-9840-4260-8c4b-bcd8d339e270",
      "name": "Get New Thread Posts",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil SEMUA post dari \"Get New Thread Posts\" (hasil setelah revisi)\nconst posts = $('Get New Thread Posts').all().map(item => item.json);\n\nif (!posts || posts.length === 0) {\n  throw new Error('Tidak ada posts dari Get New Thread Posts');\n}\n\n// Susun preview text: nomori tiap post + tanda ini hasil revisi\nconst previewText = \"✏️ *Draft Revisi Siap Direview*\\n\\n\" + posts\n  .sort((a, b) => a.post_order - b.post_order)\n  .map((p, i) => `${i + 1}/${posts.length}\\n${p.content}`)\n  .join('\\n\\n---\\n\\n');\n\n// draft_id dari \"Get Draft Awaiting Edit\" (pakai .first(), bukan .item)\nconst draftId = $('Get Draft Awaiting Edit').first().json.id;\n\nreturn [{\n  json: {\n    preview_text: previewText,\n    draft_id: draftId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        176
      ],
      "id": "1cdb92d3-4dbe-4780-b311-edf0d2e3bc5b",
      "name": "Susun Preview Revisi"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ JSON.stringify($env.TELEGRAM_CHAT_ID) }},\n  \"text\": {{ JSON.stringify($json.preview_text || 'Preview tidak tersedia') }},\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [\n        { \"text\": \"✅ Approve\", \"callback_data\": \"approve_{{ $json.draft_id }}\" },\n        { \"text\": \"✏️ Edit\", \"callback_data\": \"edit_{{ $json.draft_id }}\" },\n        { \"text\": \"❌ Reject\", \"callback_data\": \"reject_{{ $json.draft_id }}\" }\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1328,
        176
      ],
      "id": "dd53138f-7406-4bf0-901c-ed0ce95c3ae8",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "drafts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Code in JavaScript6').item.json.draft_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_message_id",
              "fieldValue": "={{ $json.result.message_id }}"
            },
            {
              "fieldId": "edit_mode",
              "fieldValue": "manual"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1920,
        -736
      ],
      "id": "14f13b1b-c4c4-4363-9ce1-e6b7be9360d7",
      "name": "Update a row6",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Balas pesan ini dengan format:    1: isi post pertama    2: isi post kedua    (dst sesuai post yang mau diubah)",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2128,
        -736
      ],
      "id": "e025b991-bdc1-4ece-b91a-bfc8d35ee4aa",
      "name": "Send a text message2",
      "webhookId": "b948aa4f-9500-46c4-af17-14cd4d3e05ba",
      "credentials": {
        "telegramApi": {
          "id": "f86NzQ0goQ7JGyfD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "drafts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Code in JavaScript6').item.json.draft_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "edit_mode",
              "fieldValue": "ai"
            },
            {
              "fieldId": "status",
              "fieldValue": "awaiting_edit"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2384,
        -336
      ],
      "id": "ee196f25-ae7c-44c1-a1d5-88687e04910e",
      "name": "Update a row7",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Code in JavaScript6').item.json.chat_id }}",
        "text": "Balas pesan ini dengan instruksi revisi buat AI (contoh: \"bikin lebih santai\" atau \"tambahin data soal jam terbang\")",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2176,
        -336
      ],
      "id": "ca53d0d3-3ce5-4e3f-94a2-2df5c3ae1880",
      "name": "Send a text message3",
      "webhookId": "a00fe9cf-c504-4376-a5fd-20a48b584b7b",
      "credentials": {
        "telegramApi": {
          "id": "f86NzQ0goQ7JGyfD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "drafts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Code in JavaScript6').item.json.draft_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_message_id",
              "fieldValue": "={{ $json.result.message_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1792,
        -336
      ],
      "id": "ae3f2c26-42cc-4481-9775-367afed124fe",
      "name": "Update a row8",
      "credentials": {
        "supabaseApi": {
          "id": "Gqiq964aMi6dKIob",
          "name": "Personal Brand"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "df5f2278-6442-4b2c-a697-c31bf32b6553",
              "leftValue": "={{ $json.edit_mode }}",
              "rightValue": "ai",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1568,
        -320
      ],
      "id": "f59a35a7-a028-4684-9fff-d19812c9a1ff",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "df351265-4f82-4545-8196-f263361d98a3",
              "leftValue": "={{ $json.edit_mode }}",
              "rightValue": "ai",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1920,
        -576
      ],
      "id": "ab77b583-1888-48a9-aa16-7d7ea99279fb",
      "name": "If4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3ab7e076-047c-4f4b-b554-2a78a2fa9174"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "06ac4d99-0b03-43bb-ad89-909ef36a6bc4",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Edit"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "24c29c33-921d-4883-9304-e5130a8995d6",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "885ffa2c-840e-4549-986a-0e2166250f7c",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "editmanual",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Edit Manual"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e82101ab-550c-492a-bfb5-9ef9fd3b535d",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "editai",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Edit AI"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3040,
        -816
      ],
      "id": "f3596439-cab6-48f3-a8d7-4c4b9b314046",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "const draft = $('Get a row2').item.json;\nconst posts = $('Get many rows3').all().map(item => item.json);\n\nif (!posts || posts.length === 0) {\n  throw new Error(`Draft ${draft.id} tidak memiliki thread_posts. Harap edit terlebih dahulu.`);\n}\n\nconst threadItems = posts\n  .sort((a, b) => a.post_order - b.post_order)\n  .map(p => {\n    let content = p.content.trim();\n    if (content.length > 480) {\n      const truncated = content.slice(0, 477);\n      const lastPunct = Math.max(\n        truncated.lastIndexOf('.'),\n        truncated.lastIndexOf('?'),\n        truncated.lastIndexOf('!')\n      );\n      content = lastPunct > 400 ? content.slice(0, lastPunct + 1) : truncated + '...';\n    }\n    return { content };\n  });\n\nreturn [{\n  json: {\n    ...draft,\n    content: threadItems[0].content,\n    threadItems: threadItems.slice(1)   // <- buang item pertama, sisain post ke-2 dst\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        -1296
      ],
      "id": "fb6be49a-6c6e-4dd3-bdea-1d505b24ef1e",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Edit a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Update a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row2": {
      "main": [
        [
          {
            "node": "Get many rows3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Update a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row2": {
      "main": [
        [
          {
            "node": "Edit a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get many rows2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows2": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "Update a row5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get many rows4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row4": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row5": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows4": {
      "main": [
        [
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript10": {
      "main": [
        [
          {
            "node": "Update a row4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Draft Awaiting Edit": {
      "main": [
        [
          {
            "node": "Get Old Thread Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Old Thread Posts": {
      "main": [
        [
          {
            "node": "Susun Konteks Revisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Susun Konteks Revisi": {
      "main": [
        [
          {
            "node": "AI Agent Revisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Revisi": {
      "main": [
        [
          {
            "node": "Delete Old Thread Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Revisi",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent Revisi",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Thread Posts": {
      "main": [
        [
          {
            "node": "Split Post Revisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Post Revisi": {
      "main": [
        [
          {
            "node": "Loop Insert Thread Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Insert Thread Posts": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert New Thread Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert New Thread Post": {
      "main": [
        [
          {
            "node": "Loop Insert Thread Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Draft Pending": {
      "main": [
        [
          {
            "node": "Get New Thread Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Update Draft Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Thread Posts": {
      "main": [
        [
          {
            "node": "Susun Preview Revisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Susun Preview Revisi": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        [
          {
            "node": "Update a row6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row7": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message3": {
      "main": [
        [
          {
            "node": "Update a row8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row8": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Get Draft Awaiting Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Get Draft Awaiting Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get a row2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "db2eeb88-520e-4e03-b656-8bd0f965c0f1",
  "meta": {
    "instanceId": "7c6b6f1ecf77cebc5efce23cf69ffc017dbfc74ad57e36eb39e2e5c24ed38074"
  },
  "id": "aAuXAmi0S5u0qkUu",
  "tags": []
}